.card {
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: #f1f1f1;
	border-radius: 15px;
	color: #2f2f2f;
	padding: 0.5rem;
	align-items: center;
	margin-bottom: 1rem;
}
.details {
	display: flex;
}
.details img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 1rem;
	border-block: 1px solid #2f2f2f;
}
.details p:nth-child(2) {
	color: #A9A9A9;
}